@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    /* background-color: black;
    color: white; */
}

.left {
    width: 25vw;
    padding: 0.2rem;
}
.right {
    width: 75vw;
}
.home ul li {
    list-style: none;
    width: 0.8rem;
    display: flex;
    gap: 0.6rem;
    padding-top: 0.8rem;
    font-weight: bold;
}
.home .logo {
    display: flex;
}
.logo img {
    width: 1.2rem;
}
.heading {
    width: 100%;
    display: flex;
    gap: 0.6rem;
    padding-top: 0.8rem;
    font-weight: bold;
    align-items: center; 
    font-size: 0.55rem;
}
.heading {
    width: 0.8rem;
}