* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black;
    color: white; */
}

.left {
    width: 25vw;
    padding: 1.25rem;
}
.right {
    width: 75vw;
}
.home ul li {
    list-style: none;
    width: 1.25rem;
    display: flex;
    gap: 1.5rem;
}