.red-border {
    border: 0.2rem solid red; 
    margin: 0.3rem;
}

.flex {
    display:flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-gray {
    background-color: #121212;
}

.rounded {
    border-radius: 0.3rem;
}

.m-1 {
    margin: 0.3rem;
}

.p-1 {
    padding: 0.3rem;
}

.s-1 { 
    font-size: 0.7rem;
}